@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

/*--------------------------
common styles or utilities 
----------------------------*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

body {
    font-family: 'Poppins', sans-serif;
    background: #F3F1FF;
}

.wrapper {
    max-width: 1200px;
    /* padding-inline: 20px; */
    margin-inline: auto;
}

:root {
    --primary-color: #562EFF;
    --secondary-color: #ED6B4F;
    --light-color: #fff;
    --dark-color: #000;
}

.section-title {
    font-weight: 500;
    font-size: 24px;
    /* line-height: 36px; */
    color: var(--primary-color);
}

main {
    padding-block: 36px;
}

/*-------------------
    header styles
---------------------*/
header {
    background: var(--primary-color);
    padding-block: 30px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: flex;

    align-items: center;
    gap: 15px;
}

.logo a img {
    width: 40px;
    height: 51px;
}

.logo span {
    font-weight: 500;
    font-size: 24px;
    /* line-height: 36px; */
    color: var(--light-color);
}

.nav-menu {
    display: flex;
    gap: 36px;
    justify-content: center;
    align-items: center;
}

.nav-link {
    font-weight: 400;
    font-size: 16px;
    /* line-height: 24px; */
    color: var(--light-color);
}

.close-area,
.bar-area {
    display: none;
}

.close,
.bar {
    font-size: 22px;
    cursor: pointer;
    color: var(--light-color);
    display: none;
}

/* ------------------------------
    top players and top blogs 
 -------------------------------- */
.top-players-blogs {
    background: #FFFFFF;
    border-radius: 5px;
    padding: 33px 33px 42px;
}

.top-players .section-title {
    margin-bottom: 40px;
}

.top-blogs .section-title {
    margin-block: 30px;
}

.players {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 30px;
    column-gap: 80px;
}

.blogs {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 26px;
    column-gap: 40px;
}

.player,
.blog {
    display: flex;
    gap: 16px;
    align-items: center;
}

.player img {
    width: 56px;
    height: 56px;
}

.player-title {
    font-weight: 500;
    font-size: 18px;
    color: var(--dark-color);
}

hr {
    border: 1px solid #D1D1D1;
    margin-top: 29px;
}

.blog img {
    width: 177px;
    height: 117px;
}

.blog-info .blog-title {
    font-weight: 500;
    font-size: 20px;
    color: var(--dark-color);
}

.blog-author {
    font-size: 16px;
    color: #9F9F9F;
}

.blog-author span {
    color: var(--primary-color);
}

/*------------------------
    Media Queries 
--------------------------- */

/* ----------------------- 
    Mobile Device
--------------------------*/
@media screen and (max-width: 576px) {

    /* ----------------
            navbar  
    ----------------------*/
    main {
        padding-block: 0;
    }

    .navbar {
        padding-inline: 10px;
    }

    .logo a img {
        width: 35px;
        height: 46px;
    }

    .nav-menu {
        position: fixed;
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        flex-direction: column;
        gap: 20px;
        top: 0;
        right: -300px;
        background: var(--primary-color);
        height: 100vh;
        width: 300px;
        padding: 60px 30px;
        box-shadow: 0 40px 40px rgba(0, 0, 0, 0.2);
        transition: 0.5s;
    }

    .nav-menu.active {
        right: 0px;
    }

    .nav-menu li:first-child {
        margin-top: 30px;
    }

    .close-area,
    .bar-area {
        display: initial;
    }

    .close {
        position: absolute;
        top: 30px;
    }

    /* top players and top blogs  */
    .top-players .section-title,
    .top-blogs .section-title {
        text-align: center;
    }

    .players,
    .blogs {
        grid-template-columns: repeat(1, 1fr);
    }

    .player,
    .blog {
        flex-direction: column;
    }

    .blog-info {
        text-align: center;
    }
}

/* ----------------------- 
    Tablet Device
--------------------------*/
@media screen and (min-width: 577px) and (max-width: 992px) {

    /* ----------------
            navbar  
    ----------------------*/

    header,
    main {
        padding-inline: 20px;
    }

    .close-area,
    .bar-area {
        display: none;
    }

    /* top players and top blogs  */
    .players,
    .blogs {
        grid-template-columns: repeat(2, 1fr);
    }

    .blogs {
        column-gap: 10px;
    }

    .blog-info .blog-title {
        font-size: 18px;
    }

    .blog-info .blog-author {
        font-size: 14px;
    }
}